
   <!--start content-->
    <div id="content-wrapper">
    
        <section class="pages clearfix">        
        
            <!--start section title-->
            <div id="section-title">
                <h1>Et si j'etais une star</h1>
                <h1>Ou me verrai vous...</h1>
            </div>

            
            <!--start content left-->
            <div class="content-inner-left">

<% @videographies.each do |videography| %>
        <div id="video">
            <div class="title">
                <h5><%= link_to videography.title, videography %></h5>
            </div>

            <div class="youtube">
                <iframe width="605" height="360" src="//www.youtube.com/embed/<%= videography.code %>" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="credits">
                <div class="time">
                    Ajouté par Hedy a <%= videography.created_at %>
                </div>

                <div class="where">
                    <%= videography.ayna %> - <%= videography.wa9tesh %>
                    
                </div>

                <div class="share">
                    <a href="#" 
                      onclick="
                        window.open(
                          'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://hedyaounallah-thion.com/<%= videography_path(videography) %>'), 
                          'facebook-share-dialog', 
                          'width=626,height=436'); 
                        return false;">
                      <%= image_tag "fb.png" %>
                    </a>
                </div>

            </div>
        </br>

            <div class="description">
                <%= videography.description %>
            </div>
        </br>

            <div class="comments">
                <div class="fb-comments" data-href="http://hedyaounallah-thion.com/<%= videography_path(videography) %>" data-colorscheme="The color scheme used in the plugin" data-numposts="5" data-width="605"></div>
            </div>

        </div>

    </br>
<!-- 
        <iframe width="560" height="315" src="//www.youtube.com/embed/<%= videography.code %>" frameborder="0" allowfullscreen></iframe> -->

<% end %>
            
            </div>




                        <!--start sidebar-->
                <aside class="sidebar left">
                    <ul>
                        <!--widget-recent-posts-->
                        <li class="widget_recent_entries">
                            <h6 class="widgettitle">Derniers Articles</h6>
                            <ul>
                                <% Blog.order('created_at DESC').last(20).each do |blog| %>
                                <li>
                                <%= link_to blog.title, "#entry-"+blog.id.to_s %>
                                <p class="date"><%= blog.created_at.day %>/<%= blog.created_at.month %>/<%= blog.created_at.year %></p>
                                </li>
                                <% end %>
                            </ul>
                        </li>

                        <!--widget-recent-posts-->
                        <li class="widget_recent_entries">
                            <h6 class="widgettitle">Dernieres Videos</h6>
                            <ul>
                                <% Videography.order('created_at DESC').last(20).each do |video| %>
                                <li>
                                <%= link_to video.title, video %>
                                <p class="date"><%= video.created_at.day %>/<%= video.created_at.month %>/<%= video.created_at.year %></p>
                                </li>
                                <% end %>
                            </ul>
                        </li>




                    
                    </ul>
                </aside>
    </div>

<br />
