<div id="show-video">
  



        <div id="video">
            <div class="title">
                <h5><%= link_to @videography.title, @videography %></h5>
            </div>

            <div class="youtube">
                <iframe width="900" height="655" src="//www.youtube.com/embed/<%= @videography.code %>" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="credits">
                <div class="time">
                    Ajouté par Hedy a <%= @videography.created_at %>
                </div>

                <div class="where">
                    <%= @videography.ayna %> - <%= @videography.wa9tesh %>
                    
                </div>

                <div class="share">
                    <a href="#" 
                      onclick="
                        window.open(
                          'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://hedyaounallah-thion.com/<%= videography_path(@videography) %>'), 
                          'facebook-share-dialog', 
                          'width=626,height=436'); 
                        return false;">
                      <%= image_tag "fb.png" %>
                    </a>
                </div>

            </div>
        </br>

            <div class="description">
                <%= @videography.description %>
            </div>
        </br>

            <div class="comments">
                <div class="fb-comments" data-href="http://hedyaounallah-thion.com/<%= videography_path(@videography) %>" data-colorscheme="The color scheme used in the plugin" data-numposts="5" data-width="900"></div>
            </div>

        </div>




</div>

</br>


